*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: .5s;
}

header{
    display: flex;
    padding: 1rem 6%; bottom: 0; right: 0; left: 0;
    justify-content: space-between;
    align-items: center;
    background-color: none; 
    color: #333;
    transition: 2s;
   
}
html{
    background-color: lightpink;
}
nav a{
    margin-left: 1rem;
    color: #333;
}

nav a:hover{
    background-color: rgb(229, 123, 243);
    border-radius: .5rem;
    padding: .5rem;
}

.image{
    width: 40%;
}

.iii{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.iii img{
    width: 15%;
}